<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="material">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <h1 class="text-center">All About iClean</h1>
  <p class="text-justify "> iCLEAN  is a home service carwash dedicated to provide vehicle owners an easy way to have their vehicle unit clean. </p>
  <p class="text-justify "> iCLEAN is a mobile app which help to pin the customers location to offer its service at their homes.We believe that in making customers convenience and satisfaction is our top priorities in pursuing this business. </p>
  <p class="text-justify "> At iCLEAN, you can rest assured that we will treat your vehicles as if it was our own. </p>
  <p class="text-justify "> We also make sure that vehicles will received the best treatment possible. </p>
  <p class="text-justify "> iCLEAN is environmentally responsible almost all of our soap and waxes are design to be environmentally safe, while maintaining the high  standards of quality for you vehicle. </p>
  <p class="text-justify "> We are looking forward to establish more branches which offer varieties of services with the peak standards.</p>
</ion-content>
