<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="bg">
  <img src="./assets/imgs/iCLEAN.png">
  <ion-list>

    <ion-item class="textf">
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]= "username"></ion-input>
    </ion-item>
  
    <ion-item class="textf">
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]= "password"></ion-input>
    </ion-item>

  </ion-list>
  <div class="button1">
  <div text-center class="button">
  <button ion-button color="user" (click)= "GoLog(username, password)"block>Login</button>
</div></div>
<div text-center class="button" >
    <button ion-button color="user" (click)= "goToRegister()" block>Register</button>
    </div>
</ion-content>