page-login {
    .button{
        width: 250px;
        height:50px;
        margin-left: 6%;
        
        
      
       }
       .button1{
         padding-bottom: 10%;
         padding-top: 5%;
       }

       .textf{
         background-color: transparent;
         
     }
}
