<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-list>

    <ion-item class="textf">
      <ion-label>Full name</ion-label>
      <ion-input type="text" [(ngModel)]= "Fname"></ion-input>
    </ion-item>

    <ion-item class="textf">
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]= "username"></ion-input>
    </ion-item>
    
    <ion-item class="textf">
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]= "password"></ion-input>
    </ion-item>

  </ion-list>
  <div text-center>
  <button ion-button color="user" (click)= "RegisterUser(Fname,username, password)"round>Register</button>
</div>
</ion-content>
