<!--
  Generated template for the WashersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="material">
    <ion-title>Washers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <div *ngFor="let res of responseTxt">
    <ion-card (click)="goToOtherPage(res?.name,res?.address,res?.status)">
      <ion-card-header class="head">
        <ion-card-title>{{res?.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="head">
        {{res?.address}}
      </ion-card-content >
      <div *ngIf="res?.status == 'Available'">
      <ion-card-content class="available"> 
          {{res?.status}}
      </ion-card-content>  
      </div>
      <div *ngIf="res?.status == 'Booked'">
      <ion-card-content class="booked"> 
          {{res?.status}}
      </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
