page-washers {
    .booked{
        background-color: #DA2626;
        color: white;
    }
    .available{
        background-color: #009587;
        color: white;
    }

    .bg{
        background-color: white;
    }

    .head{
        background-color: #eeeeee;
    }
}
