page-chat {
    .input-area {
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 50px;
        background: white;
        .form {
          display: flex;
          height: 100%;

          ion-input {
            width: 82%;
            border: none;
            padding: 5px 10px;
            color: #8a898b;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Titillium Web', sans-serif;
            background: inherit;
            &:focus {
              outline: none;
            }
          }
          button {
            width: 18%;
            border: none;
            color: #8a898b;
            opacity: 0.9;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: inherit;
            ion-icon {
              font-size: 3rem;
            }
          }
        }
      }
      .info{
        background-color: aqua;
        width: 120px;
      }
      .akoa{
        background-color: aqua;
        margin-left: 60%;
        width: 120px;
      }
}
