<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="info">
    <ion-card-content>
         hi there im {{names}} 
      </ion-card-content>
</ion-card>
<div *ngIf="msg != null">
  <div *ngFor="let message of msg" end>
      <ion-card class="akoa">
          <ion-card-content>
               {{message}} 
            </ion-card-content>
      </ion-card>
  </div>
</div>
<div class="input-area">
<div class="form">
<ion-input type="text" name="message" id="message" [(ngModel)]="message" placeholder="Enter message.."></ion-input>
<button (click)="sendMessage(message)">
  <ion-icon name="send"></ion-icon>
</button>
</div>
</div>
</ion-content>
