page-list {
    .bg{
        background-color: white;
    }
    img {
        width: 80%;
        height: auto;
        margin-top: 10%;
        margin-left: 10%;

    }
    .info{

        background-color: #eeeeee;
        margin-top: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        
    }
}
