<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="material">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1 class="text-center">Terms and Conditions ("Terms")</h1>
<p class="text-justify ">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the iClean Mobile Carwash App, a mobile carwash application operated by Small Brains Alliance.</p>
<p class="text-justify ">Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
<p class="text-justify ">By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
<p class="text-justify ">Purchases</p>
<p class="text-justify ">If you wish to purchase any service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase.</p>
<p class="text-justify ">Links To Other Web Sites</p>
<p class="text-justify ">Our Service may contain links to third-party web sites or services that are not owned or controlled by Small Brains Alliance.</p>
<p class="text-justify ">Small Brains Alliance has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Small Brains Alliance shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
<p class="text-justify ">Changes</p>
<p class="text-justify ">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 2 hours notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
<p class="text-justify ">Contact Us</p>
<p class="text-justify ">If you have any questions about these Terms, please contact us.</p>
</ion-content>
