<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar color="material">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1 class="text-center">Contact Us</h1>
  <h3 class="text-center">0955-726-0877</h3>
    <h3 class="text-center">iCLEAN@gmail.com</h3>
</ion-content>
