<ion-header>
  <ion-navbar color="material">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
  <h3 class="text-center">Select a Service</h3>
<div *ngFor="let serv of service">
        <ion-card (click)="Service(serv?.name)">
        <ion-card-header >
            <img *ngIf="serv?.name == 'Small'" src="./assets/imgs/small.png" class="img float-left">
            <img *ngIf="serv?.name == 'Medium'" src="./assets/imgs/medium.png" class="img float-left">
            <img *ngIf="serv?.name == 'Large'" src="./assets/imgs/large.png" class="img float-left">
            <h1 class="float-right">{{serv?.name}}</h1>
        </ion-card-header>
      </ion-card>
</div>
</ion-content>
