page-home {
    .bg{
        background-color: white;
    }
    ion-card-header{
        background-color: #eeeeee;
        text-align: center;
    }
        
    .text-center{
        text-align: center;
    }

    .font{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    

    .img{
        width: 48%;
      }

      .float-right{
        margin-top: 10%;
        // float: right;
      }
      .float-left{
        float: left;
      }
}
