// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.list{
    background-color: transparent;
}
.bg{
    background-color: white;
}

.alertCustomCss {
    color: white; // text color for basic alerts
    button {
        color: white !important;
        background-color: color($colors, button, base) !important;
    }
    .alert-message {
        color: black; // text color for confirm alerts
    }
    .alert-wrapper {
        background-color: color($colors, lighter, base);
    }
    .alert-title{
        color: black;
        text-align: center;
    }
  }