page-book {
  .bg{
    background-color: white;
    }
    .ion-header{
        background-color: #eeeeee;
    }
    .ion-content{
      background-color: #00a093;
    }
        
    .text-center{
        text-align: center;
    }

    .font{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
      ion-card-content{
        margin-top:10%;
        float: left;
        font-weight: bold; 
        font-size: 10px;
        color: #d0d0d0;
      }
      .text-color{
        color: white;
      }
}
