<!--
  Generated template for the BookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
  <ion-navbar color="material">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Book</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <ion-card (click)="Service(serv?.name)">
    <ion-card-header class="ion-content">
      <ion-label class="text-center">
        <h1 class="text-color float-right">{{name}}</h1>
      </ion-label>
    </ion-card-header>
    
    <div class="ion-header">
        <ion-list radio-group [(ngModel)]="options">
            <ion-item>
              <ion-label>iClean Wash {{wash}}</ion-label>
              <ion-radio value="wash"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>iClean Shine {{shine}}</ion-label>
              <ion-radio value="shine"></ion-radio>
            </ion-item>
          </ion-list>
    </div>
    <ion-list>
      <ion-list-header>
        iClean Add Ons
      </ion-list-header>
      <ion-item>
        <ion-label>Mat Cleaning <br> {{mat}}</ion-label>
        <ion-checkbox slot="options" [(ngModel)]="option" value="mat"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Leather Conditioning<br> {{leather}}</ion-label>
        <ion-checkbox slot="options" [(ngModel)]="option1" value="leather"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Interior Vacuum <br> {{interior}}</ion-label>
        <ion-checkbox slot="options" [(ngModel)]="option2" value="interior"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
  <div text-center>
    <button ion-button color="primary" (click)="booknow(option,option1,option2)" expand="block" style="margin-top:10%;">book now</button>
  </div>
</ion-content>
