<!--
  Generated template for the WaitingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="material">
    <ion-title>Waiting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <h4>Your Booking</h4>
  <ion-card >
    <ion-card-header>
      <ion-card-title class="text-white">{{name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      OnGoing Job
      <button (click)="gotochat(name)" ion-button icon-only class="icon-chat">
        <ion-icon slot="end" name="chatboxes" color="light" ></ion-icon>
      </button> 
    </ion-card-content>
  </ion-card>
</ion-content>
