page-waiting {
    ion-card{
        width: 100% !important;
        margin: 0% !important;
        margin-top: 10% !important;
 
    }
      ion-card-header{
        background-color: #009587;
    }
      ion-card-content{
        margin-top:10%;
        margin-right:50%;
        float: left;
        font-weight: bold; 
        font-size: 10px;
        color: black;
      }

      .text-white{
        color:white;
      }
      .homeIcon{
        font-size: 50px;
    }
    .icon-chat{
      margin-left: 170%;
      margin-top: -25%;
    }

      .bg{
        background-color: white;
            }
      h1{
        color: #5D6572;
      }
      .empty{
        text-align: center;
        padding-top: 50%;
      }
      .des{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 190%;
      } 
}
